body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body > * {
    max-width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    display: flex;
    justify-content: center;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav > ul > li {
    background-color: #f8f9fa;
    border: 2px solid grey;
    border-radius: 6px;
    padding: 8px;
}

nav > ul > li:hover {
    background-color: grey;
    color: white;
}

section {
    border: 2px solid black;
    border-radius: 6px;
    margin: 4px;
    padding: 16px;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    align-items: center;
}

.section-grid > .row-start {
    grid-column: 1;
    margin: 0;
}

figure {
    justify-self: center;
    text-align: center;
    margin: 0;
}

aside {
    /* background-color: lightgray; */
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
}

#contact {
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#contact > * {
    margin: 0;
}

input, textarea {
    width: 80%;
}